<!doctype html>
<html>
<title>ImageIt Home Page</title>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
	
	<h1>Welcome and Good Day!</h1>
	<form action="" method="POST" name="image_loc_bw">
		<h3>Black and White</h3>
		<p>
			You can upload images from your local computer and apply filters, just like you see on your favorite selfie social media.
		</p>
		<div>
			<!-- <input name="file_loc" type="text" />-->
			{{form.image_loc_bw(size=50)}}
			<input name="submit" type="submit"/>
		</div>
		<div>
		</div>
		<img src="{{ url_for('static', filename='new.jpg') }}" alt="leia.jpg" width="200"/>
		<p>form: {{ form }}</p>
		<p>form: {{ form.data.image_loc_bw }}</p>
		<p>info: {{ info }}</p>
		<p>info: {{ info.data }}</p>
	</form>
	
	<form action="" method="POST" name="image_loc_red">
		<h3>RED</h3>
		<p>
			You can upload images from your local computer and apply filters, just like you see on your favorite selfie social media.
		</p>
		<div>
			<!-- <input name="file_loc" type="text" />-->
			{{form.image_loc_red(size=50)}}
			<input name="submit" type="submit"/>
		</div>
		<img src="{{ url_for('static', filename='new.jpg') }}" alt="leia.jpg" width="200"/>
		<p>form: {{ form }}</p>
		<p>form: {{ form.data.image_loc_red }}</p>
		<p>info: {{ info }}</p>
		<p>info: {{ info.data }}</p>
	</form>

	<form action="" method="POST" name="image_loc_blue">
		<h3>BLUE</h3>
		<p>
			You can upload images from your local computer and apply filters, just like you see on your favorite selfie social media.
		</p>
		<div>
			<!-- <input name="file_loc" type="text" />-->
			{{form.image_loc_blue(size=50)}}
			<input name="submit" type="submit"/>
		</div>

		<img src="{{ url_for('static', filename='leia.jpg') }}" alt="leia.jpg" width="200"/>
		<p>form: {{ form }}</p>
		<p>form: {{ form.data.image_loc_blue }}</p>
		<p>info: {{ info }}</p>
		<p>info: {{ info.data }}</p>
	</form>

</body>
</html>
